/* * {
    box-sizing: border-box;
    width: 100%;
    color: #6a4949;
  } */
  body {
    width: 100%;
    background-color: #FED154;
    /* background-color: yellow;
    display: flex; */
  }
  h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
  }
  .first-p {
    color: #FF5685;
    font-size: 40px;
  }
  .second-p {
    color: #FEB25E;
    font-size: 40px;
  }
  .first-c {
    color: #6AC7E6;
    font-size: 40px;
  }

  .container {
    width: 100%;
    display: flex;
    margin: 20px;
  }

  /* 左サイドバー */
  .side {
    width: 20%;
    background-color: #FFC4C8;
  }
  /* チャットテキスト */
  .chat_body {
    width: 80%;
    margin-left: 30px;
  }

  /* 送信テキスト */
  .message {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
  }
  .partner {
    position:relative;
    width:300px;
    height:80px;
    background:#CEE5E6;
    padding:20px;
    text-align:left;
    color:#333333;
    font-size:14px;
    font-weight:bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
  }
  .partner:after {
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(206, 229, 230, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:30px;
    border-right-width:30px;
    margin-top: -10px;
    border-right-color:#CEE5E6;
    right:100%;
    top:50%;
  }
  .me{
    display: flex;
    padding-right: 20px;
    position:relative;
    width:300px;
    height:80px;
    background:#E6E5C9;
    padding:20px;
    text-align:left;
    color:#333333;
    font-size:14px;
    font-weight:bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
  }
  .me:after{
      border: solid transparent;
      content:'';
      height:0;
      width:0;
      pointer-events:none;
      position:absolute;
      border-color: rgba(230, 229, 201, 0);
      border-top-width:10px;
      border-bottom-width:10px;
      border-left-width:30px;
      border-right-width:30px;
      margin-top: -10px;
      border-left-color:#E6E5C9;
      left:100%;
      top:50%;
  }
  /* 送信ボタン */
  .fa-regular {
    color: #ae0c0c;
    font-size: 20px;
    padding-top: -20px;
  }
  .btn-social-circle {
    display: inline-block;
    position: relative;
    margin-left:10px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
    transition: .2s;
  }
  .btn-social-circle .fa {
    line-height: 30px;
  }
  .btn-social-circle:hover {
    box-shadow: none;
  }
  
  .btn-social-circle--twitter {
    background: #FF5685;
    border: solid 5px #FF5685;
  }

  input {
    /* width: 100%; */
    padding: 10px;
    display: block;
    margin: 0 auto 50px;
  }
  
  textarea {
    /* width: 100%;
    height: 200px; */
    padding: 10px;
    margin: 0 auto 50px;
    display: block;
    resize: none;
  }
  
  button {
    /* width: 200px;
    height: 50px; */
    margin: 0 auto 50px;
    display: block;
    font-size: 16px;
  }
  
  #output {
    /* width: 500px;
    display: block; */
    overflow: scroll;
    height: 500px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px;
  }
  /* スクロールバー */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff8095;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #ffe6ea;
    border-radius: 5px;
  }